In [ ]:
#Assignment Data Cleaning

import numpy as np
import pandas as pd
df = pd.DataFrame({'From_To': ['LoNDon_paris', 'MAdrid_miLAN', 'londON_StockhOlm', 
                               'Budapest_PaRis', 'Brussels_londOn'],
              'FlightNumber': [10045, np.nan, 10065, np.nan, 10085],
              'RecentDelays': [[23, 47], [], [24, 43, 87], [13], [67, 32]],
                   'Airline': ['KLM(!)', '<Air France> (12)', '(British Airways. )', 
                               '12. Air France', '"Swiss Air"']})

df

In [ ]:
"""1. Some values in the the FlightNumber column are missing. These numbers are
meant to increase by 10 with each row so 10055 and 10075 need to be put in
place. Fill in these missing numbers and make the column an integer column
(instead of a float column)."""
#Assignment DC Q1

df['FlightNumber'] = df['FlightNumber'].interpolate().astype(int)

df['FlightNumber']

In [ ]:
"""2. The From_To column would be better as two separate columns! Split each
string on the underscore delimiter _ to give a new temporary DataFrame with
the correct values. Assign the correct column names to this temporary
DataFrame."""
#Assignment DC Q2

temp = df["From_To"].str.split('_', expand=True)
temp.columns = ['From', 'To']

temp

In [ ]:
"""3. Notice how the capitalisation of the city names is all mixed up in this
temporary DataFrame. Standardise the strings so that only the first letter is
uppercase (e.g. "londON" should become "London".)"""

#Assignment DC Q3

temp['From'] = temp['From'].str.capitalize()
temp['To'] = temp['To'].str.capitalize()

temp

In [ ]:
"""4. Delete the From_To column from df and attach the temporary DataFrame
from the previous questions."""
#Assignment DC Q4

df = df.drop('From_To', axis=1)
df = df.join(temp)

df